<style>
#upflex {
  background: linear-gradient(
    90deg,
    rgba(215, 8, 8, 1) 0%,
    rgba(4, 39, 95, 0.9486169467787114) 38%,
    rgba(20, 210, 248, 1) 100%
  );
}
</style>


<div class="d-flex justify-content-between text-center" id="upflex">
    <div class="p-3">
        <!-- <div class="flex-shrink-5"> -->
            <img src="https://www.kitcoek.in/images/Navbar/Logo.svg" height="150px">

        <!-- </div> -->
    </div>
    <div class="text-center" >
        <!-- <div class="flex-shrink-1"> -->
            <h1 style='color:rgb(248, 246, 246);'><span id="element"></span></h1>
            <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
            <script>
                var typed = new Typed('#element', {
                    strings: ['1 MAH ARTY BTY NCC KITCOEK', 'इज्जत-ओ-इक्बाल &#9876;&#9876;', '1 MAH ARTY BTY NCC KITCOEK'],
                    typeSpeed: 70,
                    loop: true, // Set loop to true for infinite looping
                });
            </script>
        <!-- </div> -->
    </div>
    <div class="p-3">
        <!-- <div class="flex-shrink-1"> -->
            <img src="https://www.kitcoek.in/images/Navbar/Logo.svg" height="150px">
<!-- 
        </div> -->
    </div>
</div>