<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<style>
  /*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.rakkas-regular {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

}
.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

</style>
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4" style="font-family: Rakkas, serif;">About NCC    <span><img src=" /images/target.png" style="display:inline-flex ;height: 70px;" >    <img src=" /images/veterans.png" style="display:inline-flex ;height: 80px;" > </span></h1>
        <p  style="font-family:Lobster;font-size: 20px;">
          National Cadet Corps (NCC) is a Tri-Services Organisation comprising the Army, Navy and Air Force, engaged in grooming the youth – ‘The Leaders of Tomorrow’ – into disciplined and patriotic citizens. It is open to school and college students on voluntary basis as a Tri-Services Organisation, comprising the Army, the Navy and the Air Force. Cadets are given basic military training in small arms and drill. Officers and cadets have no liability for active military service once they complete their course.It has enormous potential for nation building. The NCC provides opportunities to the youth of the country for their all-round development with a sense of Duty, Commitment, 
          Dedication, Discipline and Moral Values so that they become able leaders and useful citizens.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="/images/leftside.png" alt="" class="img-fluid"></div>
    </div>
  </div>
  <a href="/allfiles/about" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a></div>

<div class="bg-white py-5">
  <div class="container py-5">
    <h1 class="display-4" style="font-family:Permanent Marker">Trainning <span><img src=" /images/sprint.png" style="display:inline-flex ;height: 80px;" > <img src=" /images/sit-up.png" style="display:inline-flex ;height: 80px;" ><img src=" /images/exercise.png" style="display:inline-flex ;height: 80px;" ></span>
    </h1>
    <div class="row align-items-center mb-5">
      
      <div class="col-lg-6 order-2 order-lg-1">
        
        <p class="font-italic text-muted mb-4" style="font-size: 30px;">Cadets are given basic military trainning along with personality development insights which makes them a better leader and a citizen</p><a href="/allfiles/trainning" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/trg.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="/images/enroll.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6">
        <h1 class="display-4" style="font-family:Permanent Marker">Enrollment  <span><img src=" /images/exam.png" style="display:inline-flex ;height: 80px;">
        <p class=" text-muted mb-4">Cadets are enrolled through various physical and mental test <a href="/allfiles/enrollment" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
       </p>
    </div>
  </div>
</div>
<style>
/* CSS */
/* Zoom effect on image hover */
.img-thumbnail:hover {
    transform: scale(1.5) /* Adjust the scale factor as needed */
}

/* Change background color of card on hover */

/* Change text color on hover */
.bg-white:hover h5,
.bg-white:hover span {
    color: #007bff; /* Change to your desired hover text color */
}

/* Reset background color when not hovered */
.bg-white + .bg-white:hover {
    background-color: #ffffff; /* Original background color */
}

/* Reset text color when not hovered */
.bg-white + .bg-white:hover h5,
.bg-white + .bg-white:hover span {
    color: inherit; /* Inherit the original text color */
}

</style>
<div class="bg-white py-5">
  <div class="container py-5">
    <h1 class="display-4" style="font-family:Permanent Marker">CAMPS <span><img src=" /images/hiking.png" style="display:inline-flex ;height: 80px;" > <img src=" /images/sign.png" style="display:inline-flex ;height: 80px;" ><img src=" /images/barracks.png" style="display:inline-flex ;height: 80px;" ></span>
    </h1>
    <div class="row align-items-center mb-5">
      
      <div class="col-lg-6 order-2 order-lg-1">
        
        <p class="font-italic text-muted mb-4" style="font-size: 30px;">Cadets are given basic military trainning along with personality development insights which makes them a better leader and a citizen</p><a href="/allfiles/trainning" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/trg.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display font-weight-light" style="font-family: Rakkas, serif;">Distiunguished Alumini</h2>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Avishkar Dongale</h5><span class="small text-uppercase text-muted" style="font-family: Lilita One;">AIR-7 AFCAT</span>
            
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Isha Saha</h5><span class="small text-uppercase text-muted" style="font-family: Lilita One;">AIR-5 SSCTech</span>
  
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Shreyash Awate</h5><span class="small text-uppercase text-muted" style="font-family: Lilita One;">AIR-10 SSCTech</span>
            
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Samarth Amane</h5><span class="small text-uppercase text-muted" style="font-family: Lilita One;">DG NCC Commendation </span>
            
          </div>
  
        </div>
        <!-- End-->
        <a href="/allfiles/alumini" class="btn btn-light px-5 rounded-pill shadow-sm">View All</a></div>
  
      </div>
    </div>
  </div>
</body>
</html>