<style>  
    .footer {   
    left:0;  
    bottom:0;    
    width: 100%;  
    background:black;
    color: orange; 
    clear:both;
    position:relative; 
    height:300px;
    text-align: center;
    
    } 
.map{
    padding-top: 10%;
}
.text-center{
font-size: large;
}
</style>

<footer class="footer mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 py-5">
            <h3>NCC KITCOEK</h3>
            <i class="fa fa-home" ></i><h4>Gokul Shirgaon,Kolhapur-416234</h4>
            <i class="fa fa-phone" ></i><a href="tel:+919028732271"><h4>+919028732271</h4></a>
            <i class="fa fa-envelope" ></i><a href="mailto:kitcoek@gmail.com"><h4>kitcoek@gmail.com</h4></a>
    
        </div>
        <div class="col-sm-4">
            <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61146.90937723662!2d74.221413280408!3d16.692797340405246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc0ffb509926fa9%3A0x9af43eb75ec2804!2sKIT&#39;s%20College%20of%20Engineering%20(An%20Autonomous%20Institute)!5e0!3m2!1sen!2sin!4v1692624304373!5m2!1sen!2sin" width="500" height="200" style="border: 10px;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="text-center" style="padding-top: 4%;">
                © Harsh Lambe
                <a class="text-reset fw-bold">All Rights reserved </a>
            </div>
            </div>
            <div class="col-sm-4">
                <div class="hover">
                    <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="https://instagram.com/ncc.kitcoek?igshid=MzRlODBiNWFlZA==" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn text-white btn-floating m-1" style="background-color:  #dd4b39;" href="https://www.kitcoek.in/" role="button">
                        <i class="fab fa-google"></i>
                    </a>
                    <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/official.kitcoek/" role="button"><i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.youtube.com/c/OfficialKITCoEK" role="button"><i class="fab fa-youtube"></i> 
                    </a>
                    </div>
                    <img type="text/css"src="/images/cornerbg.png" height="250px">
                    </div>
                    </div>
                    </div>
</footer>