<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCCKIT</title>
    <link rel="icon" href="../images/kit logo.png" type="image/x-icon">
</head>
    <% layout('../views/layouts/newboilerplate')%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-XXXX" crossorigin="anonymous" />

   <style>
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f10a0a;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #f1ecec;
  text-decoration: none;
  color: #555;
}
/* CSS */
/* Zoom effect on image hover */
.img-thumbnail:hover {
    transform: scale(1.5) /* Adjust the scale factor as needed */
}

/* Change background color of card on hover */

/* Change text color on hover */
.bg-white:hover h5,
.bg-white:hover span {
    color: #007bff; /* Change to your desired hover text color */
}

/* Reset background color when not hovered */
.bg-white + .bg-white:hover {
    background-color: #ffffff; /* Original background color */
}

/* Reset text color when not hovered */
.bg-white + .bg-white:hover h5,
.bg-white + .bg-white:hover span {
    color: inherit; /* Inherit the original text color */
}


   </style>
         
      
             
      
      <div class="bg-light py-5">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 font-weight-light">Our Esteemed Alumini</h2>
              <p class="font-italic text-muted">Contact Us for any help </p>
            </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/lambe harshvardhan.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Harsh Lambe</h5><span class="small text-uppercase text-muted">JUO 2024</span>
                <ul class="social mb-0 list-inline mt-3">
                
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/harsh-lambe-4a8ab0239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
                  <li class="list-inline-item"><a href="mailto:lambeharsh21@gmail.com" class="social-link"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/dk1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Digvijay Kharade</h5><span class="small text-uppercase text-muted">JUO 2024</span>
                <ul class="social mb-0 list-inline mt-3">
    
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/digvijay-kharade-1b22281a9/" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:digukharade9848@gmail.com" class="social-link"><i class="fa-solid fa-envelope"></i></a></li>
                  </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/shrutifinal1.jpg" alt="" width="90" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Shruti Ghorpade</h5><span class="small text-uppercase text-muted">Sergent 2024</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.instagram.com/shrutzzzzz29?igsh=MXdiM3dneWtlMHJ1cw==" class="social-link"><i class="fa-brands fa-instagram"></i>
                      </a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/shruti-ghorpade-4106422b0" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:shrutighorpade07@gmail.com" class="social-link"><i class="fa-solid fa-envelope"></i></a></li>
                  </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/Sakshir.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Sakshi Lavahate</h5><span class="small text-uppercase text-muted">Placed at tata power</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.instagram.com/sakshi_lavhate?igsh=MTkxeWJ6dHhqZ3RobA==" class="social-link"><i class="fa-brands fa-instagram"></i>
                      </a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/sakshi-lavhate-a8225321b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:sakshilavhate2001@gmail.com" class="social-link"><i class="fa-solid fa-envelope"></i></a></li>
                  </ul>
              </div>
            </div>
            <!-- End-->
              <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/HD.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Harshvardhan Deshmukh</h5><span class="small text-uppercase text-muted">Pursuing ME in Civil Engg</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.instagram.com/harsh0707_?igsh=ZTdsNDN3bDFnbTcy" class="social-link"><i class="fa-brands fa-instagram"></i>
                      </a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/harshavardhan-deshmukh-47a835193?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:harshdeshmukh0907@gmail.com" class="social-link"><i class="fa-solid fa-envelope"></i></a></li>
                  </ul>
              </div>
            </div>
            <!-- End-->
          </div>
          </div>
          </div>
        
      
    
      
</body>
</html>