<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCCKIT</title>
    <link rel="icon" href="../images/kit logo.png" type="image/x-icon">
</head>
<body>
    <% layout('../views/layout/boilerplate')%>
    <h1>this is event page !!!!</h1>
</body>
</html>